In [170]:

from docx import Document
import json
import pandas as pd
import numpy as np

In [171]:

all_flights = []
for i in range(1, 73):
    
    if i == 38:
        continue
    
    print(i)
    
    doc = Document(f"ML-Proj-Dataset\\Train\\{i}.docx")
    
    # Extract text from the document
    text = ""
    for paragraph in doc.paragraphs:
        text += paragraph.text

    # Parse the extracted text as JSON
    json_data = json.loads(text)
    all_flights.extend(json_data)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72

In [172]:

def flatten_json(data, parent_key='', sep='_'):
    items = []
    for k, v in data.items():
        new_key = f"{parent_key}{sep}{k}" if parent_key else k
        if isinstance(v, dict):
            items.extend(flatten_json(v, new_key, sep=sep).items())
        else:
            items.append((new_key, v))
    return dict(items)

In [173]:

flattened_data = [flatten_json(entry) for entry in all_flights]

df = pd.DataFrame(flattened_data)
print( len(df) )

df.head()

51572

,type,status,departure_iataCode,departure_icaoCode,departure_terminal,departure_scheduledTime,departure_estimatedTime,departure_actualTime,departure_estimatedRunway,departure_actualRunway,...,codeshared_airline_iataCode,codeshared_airline_icaoCode,codeshared_flight_number,codeshared_flight_iataNumber,codeshared_flight_icaoNumber,arrival_gate,departure_gate,arrival_actualTime,arrival_estimatedRunway,arrival_actualRunway
0,departure,active,lhe,opla,m,2023-07-20t20:50:00.000,2023-07-20t20:00:00.000,2023-07-20t20:15:00.000,2023-07-20t20:15:00.000,2023-07-20t20:15:00.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,departure,active,lhe,opla,NaN,2023-07-18t15:05:00.000,2023-07-18t15:05:00.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,departure,active,lhe,opla,NaN,2023-07-23t09:50:00.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,departure,active,lhe,opla,m,2023-07-26t23:30:00.000,2023-07-26t23:30:00.000,2023-07-26t23:51:00.000,2023-07-26t23:51:00.000,2023-07-26t23:51:00.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,departure,active,lhe,opla,m,2023-07-20t11:35:00.000,2023-07-20t17:15:00.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:

output_file = "TrainFlight.csv"
df.to_csv(output_file, index=False)

print(f"Data successfully saved to {output_file}")

Data successfully saved to TrainFlight.csv

In [175]:

print( len(df) )
df.isnull().sum()

51572

type                                0
status                              0
departure_iataCode                  0
departure_icaoCode                  0
departure_terminal              21750
departure_scheduledTime             0
departure_estimatedTime          7007
departure_actualTime            20582
departure_estimatedRunway       20582
departure_actualRunway          20582
arrival_iataCode                    0
arrival_icaoCode                    0
arrival_terminal                31007
arrival_scheduledTime               0
arrival_estimatedTime           21364
airline_name                        0
airline_iataCode                    0
airline_icaoCode                    0
flight_number                       0
flight_iataNumber                   0
flight_icaoNumber                   0
arrival_baggage                 33454
codeshared_airline_name         35689
codeshared_airline_iataCode     35689
codeshared_airline_icaoCode     35689
codeshared_flight_number        35689
codeshared_flight_iataNumber    35689
codeshared_flight_icaoNumber    35689
arrival_gate                    48012
departure_gate                  48038
arrival_actualTime              51320
arrival_estimatedRunway         51320
arrival_actualRunway            51320
dtype: int64

In [176]:
df.columns

Index(['type', 'status', 'departure_iataCode', 'departure_icaoCode',
       'departure_terminal', 'departure_scheduledTime',
       'departure_estimatedTime', 'departure_actualTime',
       'departure_estimatedRunway', 'departure_actualRunway',
       'arrival_iataCode', 'arrival_icaoCode', 'arrival_terminal',
       'arrival_scheduledTime', 'arrival_estimatedTime', 'airline_name',
       'airline_iataCode', 'airline_icaoCode', 'flight_number',
       'flight_iataNumber', 'flight_icaoNumber', 'arrival_baggage',
       'codeshared_airline_name', 'codeshared_airline_iataCode',
       'codeshared_airline_icaoCode', 'codeshared_flight_number',
       'codeshared_flight_iataNumber', 'codeshared_flight_icaoNumber',
       'arrival_gate', 'departure_gate', 'arrival_actualTime',
       'arrival_estimatedRunway', 'arrival_actualRunway'],
      dtype='object')

# Test Data

In [134]:

all_flights = []
for i in range(1, 73):
    
    if i == 38:
        continue
    
    print(i)
    
    doc = Document(f"ML-Proj-Dataset\\Test\\{i}.docx")
    
    text = ""
    for paragraph in doc.paragraphs:
        text += paragraph.text

    json_data = json.loads(text)
    all_flights.extend(json_data)
        

flattened_data = [flatten_json(entry) for entry in all_flights]

Testdf = pd.DataFrame(flattened_data)
print( len(Testdf) )

print(Testdf.isnull().sum())

Testdf.head()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
14910
type                                0
status                              0
departure_iataCode                  0
departure_icaoCode                  0
departure_scheduledTime             0
departure_estimatedRunway        6215
departure_actualRunway           6215
arrival_iataCode                    0
arrival_icaoCode                    0
arrival_scheduledTime               0
arrival_estimatedTime            6515
airline_name                        0
airline_iataCode                    0
airline_icaoCode                    0
flight_number                       0
flight_iataNumber                   0
flight_icaoNumber                   0
departure_terminal               6476
arrival_terminal                 8819
arrival_baggage                  9629
codeshared_airline_name         10247
codeshared_airline_iataCode     10247
codeshared_airline_icaoCode     10247
codeshared_flight_number        10247
codeshared_flight_iataNumber    10247
codeshared_flight_icaoNumber    10247
departure_gate                  13846
arrival_gate                    13797
arrival_actualTime              14835
arrival_estimatedRunway         14835
arrival_actualRunway            14835
dtype: int64

,type,status,departure_iataCode,departure_icaoCode,departure_scheduledTime,departure_estimatedRunway,departure_actualRunway,arrival_iataCode,arrival_icaoCode,arrival_scheduledTime,...,codeshared_airline_iataCode,codeshared_airline_icaoCode,codeshared_flight_number,codeshared_flight_iataNumber,codeshared_flight_icaoNumber,departure_gate,arrival_gate,arrival_actualTime,arrival_estimatedRunway,arrival_actualRunway
0,departure,active,lhe,opla,2023-07-17t20:35:00.000,2023-07-17t20:46:00.000,2023-07-17t20:46:00.000,khi,opkc,2023-07-17t22:20:00.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,departure,active,lhe,opla,2023-07-27t08:00:00.000,NaN,NaN,ruh,oerk,2023-07-27t10:00:00.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,departure,active,lhe,opla,2023-07-27t08:00:00.000,NaN,NaN,dxb,omdb,2023-07-27t10:00:00.000,...,pk,pia,203,pk203,pia203,NaN,NaN,NaN,NaN,NaN
3,departure,unknown,lhe,opla,2023-07-28t16:45:00.000,NaN,NaN,jed,oejn,2023-07-28t20:30:00.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,departure,active,lhe,opla,2023-07-19t04:15:00.000,2023-07-19t04:18:00.000,2023-07-19t04:18:00.000,auh,omaa,2023-07-19t06:35:00.000,...,ey,etd,242,ey242,etd242,24,70,NaN,NaN,NaN

In [135]:

print(Testdf.shape)

Testdf = Testdf.drop_duplicates()

print(Testdf.shape)

(14910, 31)
(14910, 31)

In [136]:
# missing_in_train = set(Testdf.columns) - set(df.columns)

# missing_in_test = set(df.columns) - set(Testdf.columns)

# print("Columns in Test but not in Train:", missing_in_train)
# print("Columns in Train but not in Test:", missing_in_test)

# Weather Data

In [177]:

all_dataframes = []

year = 23

for i in range(1, 14):
    df = pd.read_excel(f"ML-Proj-Dataset\\Weather\\{i}.xlsx")
    
    df_time = df['Time'].str.split(' ', expand=True).iloc[0].dropna().reset_index(drop=True)

    if i == 7:
        year += 1

    for i in range(1, len(df_time)):
        df_time[i] = f'{df_time[i]}-{df_time[0]}-{year}'

    # Initialize the data dictionary
    columns_to_split = df.columns[1:]
    data = {'Time': df_time[1:] }

    # Process the mini columns
    for col in columns_to_split:
        split_data = df[col].iloc[0].split(' ')
        
        if split_data[0] in ['Max', 'Total']:
            if split_data[0] == 'Max':  # Max Avg Min
                data[f'{col}_Avg'] = split_data[1::3]
                data[f'{col}_Min'] = split_data[2::3]
                data[f'{col}_Max'] = split_data[3::3]
            elif split_data[0] == 'Total':  # Total
                data[f'{col}_Total'] = split_data[1:]
        else:
            raise ValueError(f"Unexpected header format in column: {col}")
        
    for col in data:
        data[col] = [value for value in data[col] if value not in ['Avg', 'Min']]

    result_df = pd.DataFrame(data)
    all_dataframes.append(result_df)

final_df = pd.concat(all_dataframes, ignore_index=True)

final_df.head()

,Time,Temperature (Â°F)_Avg,Temperature (Â°F)_Min,Temperature (Â°F)_Max,Dew Point (Â°F)_Avg,Dew Point (Â°F)_Min,Dew Point (Â°F)_Max,Humidity (%)_Avg,Humidity (%)_Min,Humidity (%)_Max,Wind Speed (mph)_Avg,Wind Speed (mph)_Min,Wind Speed (mph)_Max,Pressure (in)_Avg,Pressure (in)_Min,Pressure (in)_Max,Precipitation (in)_Total
0,1-Jul-23,88.8,81,97,74.5,72,77,63.4,47,74,8.9,5,14,28.8,28.7,28.8,0.00
1,2-Jul-23,91.5,82,99,75.8,75,79,61.3,47,79,6.7,0,12,28.8,28.7,28.8,0.00
2,3-Jul-23,91.7,77,102,77.0,73,81,63.7,45,100,11.0,0,35,28.8,28.7,28.8,0.00
3,4-Jul-23,88.5,81,97,74.3,73,77,64.0,47,79,13.0,0,32,28.7,28.6,28.8,0.00
4,5-Jul-23,76.0,68,86,72.9,68,79,90.2,70,100,15.0,5,40,28.8,28.7,28.8,0.00

In [178]:
for i in final_df['Time']:
    print(i)

1-Jul-23
2-Jul-23
3-Jul-23
4-Jul-23
5-Jul-23
6-Jul-23
7-Jul-23
8-Jul-23
9-Jul-23
10-Jul-23
11-Jul-23
12-Jul-23
13-Jul-23
14-Jul-23
15-Jul-23
16-Jul-23
17-Jul-23
18-Jul-23
19-Jul-23
20-Jul-23
21-Jul-23
22-Jul-23
23-Jul-23
24-Jul-23
25-Jul-23
26-Jul-23
27-Jul-23
28-Jul-23
29-Jul-23
30-Jul-23
31-Jul-23
1-Aug-23
2-Aug-23
3-Aug-23
4-Aug-23
5-Aug-23
6-Aug-23
7-Aug-23
8-Aug-23
9-Aug-23
10-Aug-23
11-Aug-23
12-Aug-23
13-Aug-23
14-Aug-23
15-Aug-23
16-Aug-23
17-Aug-23
18-Aug-23
19-Aug-23
20-Aug-23
21-Aug-23
22-Aug-23
23-Aug-23
24-Aug-23
25-Aug-23
26-Aug-23
27-Aug-23
28-Aug-23
29-Aug-23
30-Aug-23
31-Aug-23
1-Sep-23
2-Sep-23
3-Sep-23
4-Sep-23
5-Sep-23
6-Sep-23
7-Sep-23
8-Sep-23
9-Sep-23
10-Sep-23
11-Sep-23
12-Sep-23
13-Sep-23
14-Sep-23
15-Sep-23
16-Sep-23
17-Sep-23
18-Sep-23
19-Sep-23
20-Sep-23
21-Sep-23
22-Sep-23
23-Sep-23
24-Sep-23
25-Sep-23
26-Sep-23
27-Sep-23
28-Sep-23
29-Sep-23
30-Sep-23
1-Oct-23
2-Oct-23
3-Oct-23
4-Oct-23
5-Oct-23
6-Oct-23
7-Oct-23
8-Oct-23
9-Oct-23
10-Oct-23
11-Oct-23
12-Oct-23
13-Oct-23
14-Oct-23
15-Oct-23
16-Oct-23
17-Oct-23
18-Oct-23
19-Oct-23
20-Oct-23
21-Oct-23
22-Oct-23
23-Oct-23
24-Oct-23
25-Oct-23
26-Oct-23
27-Oct-23
28-Oct-23
29-Oct-23
30-Oct-23
31-Oct-23
1-Nov-23
2-Nov-23
3-Nov-23
4-Nov-23
5-Nov-23
6-Nov-23
7-Nov-23
8-Nov-23
9-Nov-23
10-Nov-23
11-Nov-23
12-Nov-23
13-Nov-23
14-Nov-23
15-Nov-23
16-Nov-23
17-Nov-23
18-Nov-23
19-Nov-23
20-Nov-23
21-Nov-23
22-Nov-23
23-Nov-23
24-Nov-23
25-Nov-23
26-Nov-23
27-Nov-23
28-Nov-23
29-Nov-23
30-Nov-23
1-Dec-23
2-Dec-23
3-Dec-23
4-Dec-23
5-Dec-23
6-Dec-23
7-Dec-23
8-Dec-23
9-Dec-23
10-Dec-23
11-Dec-23
12-Dec-23
13-Dec-23
14-Dec-23
15-Dec-23
16-Dec-23
17-Dec-23
18-Dec-23
19-Dec-23
20-Dec-23
21-Dec-23
22-Dec-23
23-Dec-23
24-Dec-23
25-Dec-23
26-Dec-23
27-Dec-23
28-Dec-23
29-Dec-23
30-Dec-23
31-Dec-23
1-Jan-24
2-Jan-24
3-Jan-24
4-Jan-24
5-Jan-24
6-Jan-24
7-Jan-24
8-Jan-24
9-Jan-24
10-Jan-24
11-Jan-24
12-Jan-24
13-Jan-24
14-Jan-24
15-Jan-24
16-Jan-24
17-Jan-24
18-Jan-24
19-Jan-24
20-Jan-24
21-Jan-24
22-Jan-24
23-Jan-24
24-Jan-24
25-Jan-24
26-Jan-24
27-Jan-24
28-Jan-24
29-Jan-24
30-Jan-24
31-Jan-24
1-Feb-24
2-Feb-24
3-Feb-24
4-Feb-24
5-Feb-24
6-Feb-24
7-Feb-24
8-Feb-24
9-Feb-24
10-Feb-24
11-Feb-24
12-Feb-24
13-Feb-24
14-Feb-24
15-Feb-24
16-Feb-24
17-Feb-24
18-Feb-24
19-Feb-24
20-Feb-24
21-Feb-24
22-Feb-24
23-Feb-24
24-Feb-24
25-Feb-24
26-Feb-24
27-Feb-24
28-Feb-24
29-Feb-24
1-Mar-24
2-Mar-24
3-Mar-24
4-Mar-24
5-Mar-24
6-Mar-24
7-Mar-24
8-Mar-24
9-Mar-24
10-Mar-24
11-Mar-24
12-Mar-24
13-Mar-24
14-Mar-24
15-Mar-24
16-Mar-24
17-Mar-24
18-Mar-24
19-Mar-24
20-Mar-24
21-Mar-24
22-Mar-24
23-Mar-24
24-Mar-24
25-Mar-24
26-Mar-24
27-Mar-24
28-Mar-24
29-Mar-24
30-Mar-24
31-Mar-24
1-Apr-24
2-Apr-24
3-Apr-24
4-Apr-24
5-Apr-24
6-Apr-24
7-Apr-24
8-Apr-24
9-Apr-24
10-Apr-24
11-Apr-24
12-Apr-24
13-Apr-24
14-Apr-24
15-Apr-24
16-Apr-24
17-Apr-24
18-Apr-24
19-Apr-24
20-Apr-24
21-Apr-24
22-Apr-24
23-Apr-24
24-Apr-24
25-Apr-24
26-Apr-24
27-Apr-24
28-Apr-24
29-Apr-24
30-Apr-24
1-May-24
2-May-24
3-May-24
4-May-24
5-May-24
6-May-24
7-May-24
8-May-24
9-May-24
10-May-24
11-May-24
12-May-24
13-May-24
14-May-24
15-May-24
16-May-24
17-May-24
18-May-24
19-May-24
20-May-24
21-May-24
22-May-24
23-May-24
24-May-24
25-May-24
26-May-24
27-May-24
28-May-24
29-May-24
30-May-24
31-May-24
1-Jun-24
2-Jun-24
3-Jun-24
4-Jun-24
5-Jun-24
6-Jun-24
7-Jun-24
8-Jun-24
9-Jun-24
10-Jun-24
11-Jun-24
12-Jun-24
13-Jun-24
14-Jun-24
15-Jun-24
16-Jun-24
17-Jun-24
18-Jun-24
19-Jun-24
20-Jun-24
21-Jun-24
22-Jun-24
23-Jun-24
24-Jun-24
25-Jun-24
26-Jun-24
27-Jun-24
28-Jun-24
29-Jun-24
30-Jun-24
1-Jul-24
2-Jul-24
3-Jul-24
4-Jul-24
5-Jul-24
6-Jul-24
7-Jul-24
8-Jul-24
9-Jul-24
10-Jul-24
11-Jul-24
12-Jul-24
13-Jul-24
14-Jul-24

In [179]:

print("Total rows =",len(final_df))

final_df.isnull().sum()

Total rows = 380

Time                        0
Temperature (Â°F)_Avg        0
Temperature (Â°F)_Min        0
Temperature (Â°F)_Max        0
Dew Point (Â°F)_Avg          0
Dew Point (Â°F)_Min          0
Dew Point (Â°F)_Max          0
Humidity (%)_Avg            0
Humidity (%)_Min            0
Humidity (%)_Max            0
Wind Speed (mph)_Avg        0
Wind Speed (mph)_Min        0
Wind Speed (mph)_Max        0
Pressure (in)_Avg           0
Pressure (in)_Min           0
Pressure (in)_Max           0
Precipitation (in)_Total    0
dtype: int64

In [180]:

final_df['Time'] = pd.to_datetime(final_df['Time'], format='%d-%b-%y', errors='coerce')
final_df['Time'] = final_df['Time'].dt.strftime('%Y-%m-%d')

In [181]:

output_file = "Weather.csv"
final_df.to_csv(output_file, index=False)

print(f"Data successfully saved to {output_file}")

Data successfully saved to Weather.csv

# Merge Data

In [142]:

# # Convert columns to string type before using .str accessor
Testdf['departure_scheduledTime'] = Testdf['departure_scheduledTime'].fillna('').astype(str)
Testdf['departure_estimatedRunway'] = Testdf['departure_estimatedRunway'].fillna('').astype(str)
Testdf['departure_actualRunway'] = Testdf['departure_actualRunway'].fillna('').astype(str)
Testdf['arrival_scheduledTime'] = Testdf['arrival_scheduledTime'].fillna('').astype(str)
Testdf['arrival_estimatedTime'] = Testdf['arrival_estimatedTime'].fillna('').astype(str)
Testdf['arrival_estimatedRunway'] = Testdf['arrival_estimatedRunway'].fillna('').astype(str)
Testdf['arrival_actualRunway'] = Testdf['arrival_actualRunway'].fillna('').astype(str)


# Apply the string split and extraction logic
Testdf['departure_scheduledDate'] = Testdf['departure_scheduledTime'].str.split('t').str[0]
Testdf['departure_scheduledTime'] = Testdf['departure_scheduledTime'].str.split('t').str[1].str[:8]

Testdf['departure_estimatedRunwayDate'] = Testdf['departure_estimatedRunway'].str.split('t').str[0]
Testdf['departure_estimatedRunwayTime'] = Testdf['departure_estimatedRunway'].str.split('t').str[1].str[:8]

Testdf['departure_actualRunwayDate'] = Testdf['departure_actualRunway'].str.split('t').str[0]
Testdf['departure_actualRunwayTime'] = Testdf['departure_actualRunway'].str.split('t').str[1].str[:8]

Testdf['arrival_scheduledDate'] = Testdf['arrival_scheduledTime'].str.split('t').str[0]
Testdf['arrival_scheduledTime'] = Testdf['arrival_scheduledTime'].str.split('t').str[1].str[:8]

Testdf['arrival_estimatedDate'] = Testdf['arrival_estimatedTime'].str.split('t').str[0]
Testdf['arrival_estimatedTime'] = Testdf['arrival_estimatedTime'].str.split('t').str[1].str[:8]

Testdf['arrival_estimatedRunwayDate'] = Testdf['arrival_estimatedRunway'].str.split('t').str[0]
Testdf['arrival_estimatedRunwayTime'] = Testdf['arrival_estimatedRunway'].str.split('t').str[1].str[:8]

Testdf['arrival_actualRunwayDate'] = Testdf['arrival_actualRunway'].str.split('t').str[0]
Testdf['arrival_actualRunwayTime'] = Testdf['arrival_actualRunway'].str.split('t').str[1].str[:8]

Testdf.drop(columns=['departure_estimatedRunway', 'departure_actualRunway', 'arrival_estimatedRunway',
                    'arrival_actualRunway'], inplace=True)

Testdf['departure_scheduledDate'] = pd.to_datetime(Testdf['departure_scheduledDate']).dt.date
Testdf['departure_scheduledTime']  = pd.to_datetime(Testdf['departure_scheduledTime'] ).dt.time


Testdf['departure_estimatedRunwayDate'] = pd.to_datetime(Testdf['departure_estimatedRunwayDate']).dt.date
Testdf['departure_estimatedRunwayTime']  = pd.to_datetime(Testdf['departure_estimatedRunwayTime'] ).dt.time


Testdf['departure_actualRunwayDate']  = pd.to_datetime(Testdf['departure_actualRunwayDate']) .dt.date
Testdf['departure_actualRunwayTime']  = pd.to_datetime(Testdf['departure_actualRunwayTime'] ).dt.time


Testdf['arrival_scheduledDate'] = pd.to_datetime(Testdf['arrival_scheduledDate']).dt.date
Testdf['arrival_scheduledTime']  = pd.to_datetime(Testdf['arrival_scheduledTime'] ).dt.time

Testdf['arrival_estimatedDate'] = pd.to_datetime(Testdf['arrival_estimatedDate'] ).dt.date
Testdf['arrival_estimatedTime']  = pd.to_datetime(Testdf['arrival_estimatedTime'] ).dt.time

Testdf['arrival_estimatedRunwayDate']  = pd.to_datetime(Testdf['arrival_estimatedRunwayDate'] ).dt.date
Testdf['arrival_estimatedRunwayTime']  = pd.to_datetime(Testdf['arrival_estimatedRunwayTime'] ).dt.time

Testdf['arrival_actualRunwayDate'] = pd.to_datetime(Testdf['arrival_actualRunwayDate']).dt.date
Testdf['arrival_actualRunwayTime']  = pd.to_datetime(Testdf['arrival_actualRunwayTime']).dt.time

C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:37: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['departure_scheduledTime']  = pd.to_datetime(Testdf['departure_scheduledTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:41: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['departure_estimatedRunwayTime']  = pd.to_datetime(Testdf['departure_estimatedRunwayTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:45: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['departure_actualRunwayTime']  = pd.to_datetime(Testdf['departure_actualRunwayTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:49: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['arrival_scheduledTime']  = pd.to_datetime(Testdf['arrival_scheduledTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:52: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['arrival_estimatedTime']  = pd.to_datetime(Testdf['arrival_estimatedTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:55: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['arrival_estimatedRunwayTime']  = pd.to_datetime(Testdf['arrival_estimatedRunwayTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\2794149239.py:58: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Testdf['arrival_actualRunwayTime']  = pd.to_datetime(Testdf['arrival_actualRunwayTime']).dt.time

In [143]:
final_df.columns

Index(['Time', 'Temperature (Â°F)_Avg', 'Temperature (Â°F)_Min',
       'Temperature (Â°F)_Max', 'Dew Point (Â°F)_Avg', 'Dew Point (Â°F)_Min',
       'Dew Point (Â°F)_Max', 'Humidity (%)_Avg', 'Humidity (%)_Min',
       'Humidity (%)_Max', 'Wind Speed (mph)_Avg', 'Wind Speed (mph)_Min',
       'Wind Speed (mph)_Max', 'Pressure (in)_Avg', 'Pressure (in)_Min',
       'Pressure (in)_Max', 'Precipitation (in)_Total'],
      dtype='object')

In [144]:
final_df = final_df.drop( columns = ['Precipitation (in)_Total', 'Wind Speed (mph)_Max', 'Humidity (%)_Max',
                        'Dew Point (Â°F)_Max', 'Temperature (Â°F)_Max', 'Wind Speed (mph)_Min', 'Temperature (Â°F)_Min'
                        ] )

In [145]:

Testdf['departure_scheduledDate'] = pd.to_datetime(Testdf['departure_scheduledDate']).dt.date

final_df['Time'] = pd.to_datetime(final_df['Time']).dt.date

# Merge the DataFrames based on 'departure_scheduledDate' from flight and 'Time' from weather
merged_df = pd.merge(Testdf, final_df, left_on='departure_scheduledDate', right_on='Time', how='inner')
merged_df.head()

,type,status,departure_iataCode,departure_icaoCode,departure_scheduledTime,arrival_iataCode,arrival_icaoCode,arrival_scheduledTime,arrival_estimatedTime,airline_name,...,Time,Temperature (Â°F)_Avg,Dew Point (Â°F)_Avg,Dew Point (Â°F)_Min,Humidity (%)_Avg,Humidity (%)_Min,Wind Speed (mph)_Avg,Pressure (in)_Avg,Pressure (in)_Min,Pressure (in)_Max
0,departure,active,lhe,opla,20:35:00,khi,opkc,22:20:00,22:12:00,flyjinnah,...,2023-07-17,88.6,78.1,75,71.3,59,6.9,28.8,28.7,28.8
1,departure,active,lhe,opla,08:00:00,ruh,oerk,10:00:00,NaT,pakistan international airlines,...,2023-07-27,82.9,77.1,73,83.7,70,7.5,28.9,28.8,28.9
2,departure,active,lhe,opla,08:00:00,dxb,omdb,10:00:00,NaT,ethiopian airlines,...,2023-07-27,82.9,77.1,73,83.7,70,7.5,28.9,28.8,28.9
3,departure,unknown,lhe,opla,16:45:00,jed,oejn,20:30:00,NaT,airblue,...,2023-07-28,86.3,76.7,75,73.8,59,7.4,28.8,28.7,28.8
4,departure,active,lhe,opla,04:15:00,auh,omaa,06:35:00,06:08:00,klm,...,2023-07-19,84.4,79.8,77,85.3,75,11.3,28.8,28.7,28.8

In [146]:

output_file = "test.csv"
merged_df.to_csv(output_file, index=False)

print(f"Data successfully saved to {output_file}")

Data successfully saved to test.csv

In [147]:

print( len(merged_df) )

nulls = merged_df.isnull().sum()
nulls_percentage = (merged_df.isnull().mean()) * 100

missing_summary = pd.DataFrame({'Missing Values': nulls, 'Percentage Missing': nulls_percentage})

missing_summary[missing_summary['Missing Values'] > 0].sort_values(by='Percentage Missing', ascending=False)

14910

                               Missing Values  Percentage Missing
arrival_estimatedRunwayTime             14835           99.496982
arrival_estimatedRunwayDate             14835           99.496982
arrival_actualRunwayTime                14835           99.496982
arrival_actualRunwayDate                14835           99.496982
arrival_actualTime                      14835           99.496982
departure_gate                          13846           92.863850
arrival_gate                            13797           92.535211
codeshared_flight_number                10247           68.725687
codeshared_flight_iataNumber            10247           68.725687
codeshared_airline_icaoCode             10247           68.725687
codeshared_airline_iataCode             10247           68.725687
codeshared_airline_name                 10247           68.725687
codeshared_flight_icaoNumber            10247           68.725687
arrival_baggage                          9629           64.580818
arrival_terminal                         8819           59.148223
arrival_estimatedTime                    6515           43.695506
arrival_estimatedDate                    6515           43.695506
departure_terminal                       6476           43.433937
departure_estimatedRunwayDate            6215           41.683434
departure_actualRunwayTime               6215           41.683434
departure_estimatedRunwayTime            6215           41.683434
departure_actualRunwayDate               6215           41.683434

In [186]:
df = pd.read_csv('TrainFlight.csv')

C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\1189788157.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('TrainFlight.csv')

In [187]:


# Apply the string split and extraction logic
df['departure_scheduledDate'] = df['departure_scheduledTime'].str.split('t').str[0]
df['departure_scheduledTime'] = df['departure_scheduledTime'].str.split('t').str[1].str[:8]

df['departure_actualDate'] = df['departure_actualTime'].str.split('t').str[0]
df['departure_actualTime'] = df['departure_actualTime'].str.split('t').str[1].str[:8]

df['departure_estimatedRunwayDate'] = df['departure_estimatedRunway'].str.split('t').str[0]
df['departure_estimatedRunwayTime'] = df['departure_estimatedRunway'].str.split('t').str[1].str[:8]

df['departure_actualRunwayDate'] = df['departure_actualRunway'].str.split('t').str[0]
df['departure_actualRunwayTime'] = df['departure_actualRunway'].str.split('t').str[1].str[:8]

df['arrival_scheduledDate'] = df['arrival_scheduledTime'].str.split('t').str[0]
df['arrival_scheduledTime'] = df['arrival_scheduledTime'].str.split('t').str[1].str[:8]

df['arrival_estimatedDate'] = df['arrival_estimatedTime'].str.split('t').str[0]
df['arrival_estimatedTime'] = df['arrival_estimatedTime'].str.split('t').str[1].str[:8]

df['arrival_estimatedRunwayDate'] = df['arrival_estimatedRunway'].str.split('t').str[0]
df['arrival_estimatedRunwayTime'] = df['arrival_estimatedRunway'].str.split('t').str[1].str[:8]

df['arrival_actualRunwayDate'] = df['arrival_actualRunway'].str.split('t').str[0]
df['arrival_actualRunwayTime'] = df['arrival_actualRunway'].str.split('t').str[1].str[:8]

df.drop(columns=['departure_estimatedRunway', 'departure_actualRunway', 'arrival_estimatedRunway',
                    'arrival_actualRunway'], inplace=True)


df['departure_scheduledDate'] = pd.to_datetime(df['departure_scheduledDate']).dt.date
df['departure_scheduledTime']  = pd.to_datetime(df['departure_scheduledTime'] ).dt.time


df['departure_actualDate'] = pd.to_datetime(df['departure_actualDate']).dt.date
df['departure_actualTime']  = pd.to_datetime(df['departure_actualTime'] ).dt.time


df['departure_estimatedRunwayDate'] = pd.to_datetime(df['departure_estimatedRunwayDate']).dt.date
df['departure_estimatedRunwayTime']  = pd.to_datetime(df['departure_estimatedRunwayTime'] ).dt.time


df['departure_actualRunwayDate']  = pd.to_datetime(df['departure_actualRunwayDate']) .dt.date
df['departure_actualRunwayTime']  = pd.to_datetime(df['departure_actualRunwayTime'] ).dt.time


df['arrival_scheduledDate'] = pd.to_datetime(df['arrival_scheduledDate']).dt.date
df['arrival_scheduledTime']  = pd.to_datetime(df['arrival_scheduledTime'] ).dt.time

df['arrival_estimatedDate'] = pd.to_datetime(df['arrival_estimatedDate'] ).dt.date
df['arrival_estimatedTime']  = pd.to_datetime(df['arrival_estimatedTime'] ).dt.time

df['arrival_estimatedRunwayDate']  = pd.to_datetime(df['arrival_estimatedRunwayDate'] ).dt.date
df['arrival_estimatedRunwayTime']  = pd.to_datetime(df['arrival_estimatedRunwayTime'] ).dt.time

df['arrival_actualRunwayDate'] = pd.to_datetime(df['arrival_actualRunwayDate']).dt.date
df['arrival_actualRunwayTime']  = pd.to_datetime(df['arrival_actualRunwayTime']).dt.time

C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:41: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['departure_scheduledTime']  = pd.to_datetime(df['departure_scheduledTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:45: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['departure_actualTime']  = pd.to_datetime(df['departure_actualTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:49: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['departure_estimatedRunwayTime']  = pd.to_datetime(df['departure_estimatedRunwayTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:53: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['departure_actualRunwayTime']  = pd.to_datetime(df['departure_actualRunwayTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:57: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['arrival_scheduledTime']  = pd.to_datetime(df['arrival_scheduledTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:60: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['arrival_estimatedTime']  = pd.to_datetime(df['arrival_estimatedTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:63: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['arrival_estimatedRunwayTime']  = pd.to_datetime(df['arrival_estimatedRunwayTime'] ).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\3222033237.py:66: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['arrival_actualRunwayTime']  = pd.to_datetime(df['arrival_actualRunwayTime']).dt.time

In [189]:

final_df['Time'] = pd.to_datetime(final_df['Time']).dt.date

# Merge the DataFrames based on 'departure_scheduledDate' from flight and 'Time' from weather
merged_df = pd.merge(df, final_df, left_on='departure_scheduledDate', right_on='Time', how='inner')
merged_df.head()

,type,status,departure_iataCode,departure_icaoCode,departure_terminal,departure_scheduledTime,departure_estimatedTime,departure_actualTime,arrival_iataCode,arrival_icaoCode,...,Humidity (%)_Avg,Humidity (%)_Min,Humidity (%)_Max,Wind Speed (mph)_Avg,Wind Speed (mph)_Min,Wind Speed (mph)_Max,Pressure (in)_Avg,Pressure (in)_Min,Pressure (in)_Max,Precipitation (in)_Total
0,departure,active,lhe,opla,m,20:50:00,2023-07-20t20:00:00.000,20:15:00,ruh,oerk,...,76.0,63,89,5.3,0,12,28.8,28.7,28.9,0.00
1,departure,active,lhe,opla,NaN,15:05:00,2023-07-18t15:05:00.000,NaT,khi,opkc,...,73.8,63,84,10.2,0,17,28.8,28.7,28.8,0.00
2,departure,active,lhe,opla,NaN,09:50:00,NaN,NaT,khi,opkc,...,71.2,56,83,8.1,0,14,28.9,28.8,29.0,0.00
3,departure,active,lhe,opla,m,23:30:00,2023-07-26t23:30:00.000,23:51:00,kwi,okkk,...,77.4,59,100,8.1,0,17,28.9,28.8,28.9,0.00
4,departure,active,lhe,opla,m,11:35:00,2023-07-20t17:15:00.000,NaT,dxb,omdb,...,76.0,63,89,5.3,0,12,28.8,28.7,28.9,0.00

In [190]:

output_file = "train.csv"
merged_df.to_csv(output_file, index=False)

print(f"Data successfully saved to {output_file}")

Data successfully saved to train.csv

# New Test Data

In [148]:

test = pd.read_csv(r"C:\Users\Muhammad Umer\Downloads\Binary_Test_File.csv")
test = test.drop( columns = ['File Name', 'Departure ICAO Code', 'Arrival ICAO Code'] )
test.head(3)

,Flight Number,Type,Status,Departure IATA Code,Scheduled Time,Arrival IATA Code,Arrival Estimated Time
0,4361,departure,active,lhe,2024-05-14t00:20:00.000,dxb,2024-05-14t00:20:00.000
1,1876,departure,active,lhe,2024-05-07t04:15:00.000,ruh,2024-05-07t04:15:00.000
2,6030,departure,active,lhe,2024-05-09t03:10:00.000,doh,2024-05-09t03:10:00.000

In [149]:


test['Scheduled Date'] = test['Scheduled Time'].str.split('t').str[0]
test['Scheduled Time'] = test['Scheduled Time'].str.split('t').str[1].str[:8]
test['Scheduled Date'] = pd.to_datetime(test['Scheduled Date']).dt.date
test['Scheduled Time'] = pd.to_datetime(test['Scheduled Time']).dt.time

test['Arrival Estimated Date'] = test['Arrival Estimated Time'].str.split('t').str[0]
test['Arrival Estimated Time'] = test['Arrival Estimated Time'].str.split('t').str[1].str[:8]
test['Arrival Estimated Date'] = pd.to_datetime(test['Arrival Estimated Date']).dt.date
test['Arrival Estimated Time'] = pd.to_datetime(test['Arrival Estimated Time']).dt.time

test.head(3)

C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\681685289.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  test['Scheduled Time'] = pd.to_datetime(test['Scheduled Time']).dt.time
C:\Users\Muhammad Umer\AppData\Local\Temp\ipykernel_9620\681685289.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  test['Arrival Estimated Time'] = pd.to_datetime(test['Arrival Estimated Time']).dt.time

,Flight Number,Type,Status,Departure IATA Code,Scheduled Time,Arrival IATA Code,Arrival Estimated Time,Scheduled Date,Arrival Estimated Date
0,4361,departure,active,lhe,00:20:00,dxb,00:20:00,2024-05-14,2024-05-14
1,1876,departure,active,lhe,04:15:00,ruh,04:15:00,2024-05-07,2024-05-07
2,6030,departure,active,lhe,03:10:00,doh,03:10:00,2024-05-09,2024-05-09

In [161]:

KeyColumns = ['flight_number', 'departure_iataCode', 'arrival_iataCode', 'departure_scheduledDate', 'departure_scheduledTime']

OtherColumns = Testdf.columns.difference(KeyColumns).tolist()
OtherColumns

['airline_iataCode',
 'airline_icaoCode',
 'airline_name',
 'arrival_actualRunwayDate',
 'arrival_actualRunwayTime',
 'arrival_actualTime',
 'arrival_baggage',
 'arrival_estimatedDate',
 'arrival_estimatedRunwayDate',
 'arrival_estimatedRunwayTime',
 'arrival_estimatedTime',
 'arrival_gate',
 'arrival_icaoCode',
 'arrival_scheduledDate',
 'arrival_scheduledTime',
 'arrival_terminal',
 'codeshared_airline_iataCode',
 'codeshared_airline_icaoCode',
 'codeshared_airline_name',
 'codeshared_flight_iataNumber',
 'codeshared_flight_icaoNumber',
 'codeshared_flight_number',
 'departure_actualRunwayDate',
 'departure_actualRunwayTime',
 'departure_estimatedRunwayDate',
 'departure_estimatedRunwayTime',
 'departure_gate',
 'departure_icaoCode',
 'departure_terminal',
 'flight_iataNumber',
 'flight_icaoNumber',
 'status',
 'type']

In [163]:

Testdf['departure_scheduledDate'] = Testdf['departure_scheduledDate'].astype(str)
Testdf['departure_scheduledTime'] = Testdf['departure_scheduledTime'].astype(str)

Testdf['Unique Identifier'] = ( Testdf['flight_number'].astype(str) + "_" + Testdf['departure_iataCode'] + "_" +
    Testdf['arrival_iataCode'] + "_" + Testdf['departure_scheduledDate']  + "_" + Testdf['departure_scheduledTime'])


test['Scheduled Date'] = test['Scheduled Date'].astype(str)
test['Scheduled Time'] = test['Scheduled Time'].astype(str)

test['Unique Identifier'] = ( test['Flight Number'].astype(str) + "_" + test['Departure IATA Code'] + "_" + 
    test['Arrival IATA Code'] + "_" + test['Scheduled Date'] + "_" + test['Scheduled Time'])

print(len(test))
merge = pd.merge(test, Testdf[['Unique Identifier'] + OtherColumns], on='Unique Identifier', how='left')
merge.drop(columns='Unique Identifier', inplace=True)

12914

In [167]:
merge

,Flight Number,Type,Status,Departure IATA Code,Scheduled Time,Arrival IATA Code,Arrival Estimated Time,Scheduled Date,Arrival Estimated Date,airline_iataCode,...,departure_actualRunwayTime,departure_estimatedRunwayDate,departure_estimatedRunwayTime,departure_gate,departure_icaoCode,departure_terminal,flight_iataNumber,flight_icaoNumber,status,type
0,4361,departure,active,lhe,00:20:00,dxb,00:20:00,2024-05-14,2024-05-14,et,...,00:23:00,2024-05-14,00:23:00,NaN,opla,m,et4361,eth4361,active,departure
1,1876,departure,active,lhe,04:15:00,ruh,04:15:00,2024-05-07,2024-05-07,et,...,04:16:00,2024-05-07,04:16:00,NaN,opla,m,et1876,eth1876,active,departure
2,6030,departure,active,lhe,03:10:00,doh,03:10:00,2024-05-09,2024-05-09,wy,...,03:24:00,2024-05-09,03:24:00,NaN,opla,m,wy6030,oma6030,active,departure
3,739,departure,active,lhe,02:50:00,jed,02:50:00,2024-05-12,2024-05-12,sv,...,NaT,NaT,NaT,NaN,opla,m,sv739,sva739,active,departure
4,3932,departure,active,lhe,04:35:00,auh,04:35:00,2024-05-16,2024-05-16,kl,...,04:49:00,2024-05-16,04:49:00,22,opla,m,kl3932,klm3932,active,departure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12911,615,departure,active,isb,09:30:00,doh,09:30:00,2024-06-23,2024-06-23,qr,...,09:36:00,2024-06-23,09:36:00,NaN,opis,NaN,qr615,qtr615,active,departure
12912,725,departure,active,isb,09:50:00,ruh,10:45:00,2024-06-25,2024-06-25,sv,...,NaT,NaT,NaT,NaN,opis,NaN,sv725,sva725,active,departure
12913,211,departure,active,isb,15:35:00,dxb,15:58:00,2024-06-22,2024-06-22,pk,...,NaT,NaT,NaT,NaN,opis,NaN,pk211,pia211,active,departure
12914,207,departure,active,isb,17:00:00,khi,18:00:00,2024-06-19,2024-06-19,pa,...,NaT,NaT,NaT,NaN,opis,NaN,pa207,abq207,active,departure
12915,763,departure,active,isb,00:35:00,jed,00:35:00,2024-06-25,2024-06-25,pk,...,01:01:00,2024-06-25,01:01:00,NaN,opis,NaN,pk763,pia763,active,departure

In [168]:

final_df['Time'] = pd.to_datetime(final_df['Time']).dt.date
merge['Scheduled Date'] = pd.to_datetime(merge['Scheduled Date']).dt.date

merged_df = pd.merge(merge, final_df, left_on='Scheduled Date', right_on='Time', how='inner')
print( len(merged_df) )
merged_df.head()

12916

,Flight Number,Type,Status,Departure IATA Code,Scheduled Time,Arrival IATA Code,Arrival Estimated Time,Scheduled Date,Arrival Estimated Date,airline_iataCode,...,Time,Temperature (Â°F)_Avg,Dew Point (Â°F)_Avg,Dew Point (Â°F)_Min,Humidity (%)_Avg,Humidity (%)_Min,Wind Speed (mph)_Avg,Pressure (in)_Avg,Pressure (in)_Min,Pressure (in)_Max
0,4361,departure,active,lhe,00:20:00,dxb,00:20:00,2024-05-14,2024-05-14,et,...,2024-05-14,90.4,55.7,52,33.2,18,8.0,29.0,29.0,29.1
1,1876,departure,active,lhe,04:15:00,ruh,04:15:00,2024-05-07,2024-05-07,et,...,2024-05-07,93.0,55.1,45,31.1,13,4.5,28.9,28.9,29.0
2,6030,departure,active,lhe,03:10:00,doh,03:10:00,2024-05-09,2024-05-09,wy,...,2024-05-09,91.6,64.8,59,42.5,27,8.2,28.9,28.8,28.9
3,739,departure,active,lhe,02:50:00,jed,02:50:00,2024-05-12,2024-05-12,sv,...,2024-05-12,84.7,65.8,61,54.2,34,10.5,29.1,28.9,29.1
4,3932,departure,active,lhe,04:35:00,auh,04:35:00,2024-05-16,2024-05-16,kl,...,2024-05-16,96.6,61.8,57,33.3,19,3.9,29.0,28.9,29.1

In [169]:

output_file = "Newtest.csv"
merged_df.to_csv(output_file, index=False)

print(f"Data successfully saved to {output_file}")

Data successfully saved to Newtest.csv